fieldset {
    min-width: 0 !important;
    padding: .35em .625em .75em !important;
    margin: 0 !important;
    border:1px solid #ccc !important;
    margin-bottom:10px !important;
    padding-top:10px !important;
    margin-top:0px !important;
}
legend {
    display: block !important;
    width: auto !important;
    padding: 0 !important;
    margin-bottom: 0px !important;
    font-size: 16px !important;
    line-height: inherit !important;
    color: #333 !important;
    border: 0 !important;
}
.control-label{
    padding-right: 0px !important;
    padding-top: 7px;
    margin-bottom: 0;
    text-align: right;
}
.link_main{
    margin-top: 5px;
}
.error-message {
    color: #e4482f;
}
.initialLoader {
    top : 20%;
    left : 40%;
    position : absolute;
}
#cover {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1; /* make sure logout_box has a z-index of 2 */
    background-color: #ddd;
    opacity: 0.3;
}
.loader_in_css{
    position: fixed;
    top: 50%;
    margin-top: -32px;
    left: 50%;
    margin-left: -32px;
    z-index : 1;
}
.underline{
    text-decoration: underline;
}
.centerAlign{
    text-align: center;
}
.customerInfoSet .reviewLabel{
    font-weight: bold;
    width: 180px;
    display: inline-block;
}
.customerInfoSet{
    margin-bottom: 25px !important;
}
.facilityInfoSet .facilityLabel{
    font-weight: bold;
    width: 180px;
    display: inline-block;
}
.padding-left{
    padding-left: 10px;
}
.compositeItems{
    background-color: #CCC;
}
.alignChechBox{
    position : absolute;
    z-index : 1;
    top : 30px;
}
.grayBG{
    background-color: #CCC;
}
.verticalAlign {
    vertical-align: middle !important;
}
.rightAlign{
    text-align: right;
}
.inner-table{
    margin-bottom: 0px !important;
}
.inner-table td{
    border: none !important;
}
.formGroup{
    height: 40px;
}
.margin-top-bottom-5{
    margin-top: 5px;
    margin-bottom: 5px;
}
.partnerToolsBtn{
    text-align: right;
    padding-right: 15px;
}
.timeFilterBox{
    margin-top: -35px;
    margin-bottom: 5px;
    text-align: right;
}
.registrationId{
    padding-right: 15px;
    text-align: right;
    margin-top: -20px;
}
